<div class="cols">
  <div [formGroup]="selectOfferForm" class="cols">
    <label for="offer">Choose an offer:</label>
    <select formControlName="offer" name="offer" id="offer">
      <option value="NONE">Select an offer</option>
      <!-- <option value="CREDIT_LIMIT">CREDIT_LIMIT</option>
      <option value="BAL_TRANSFER">BAL_TRANSFER</option> -->
      <option value="INTERSTITIAL">INTERSTITIAL</option>
      <option value="MARKETING">MARKETING</option>
      <option value="PRE-APPROVED-OFFER">PRE-APPROVED OFFER</option>
      <option value="OTHER-OFFER">OTHER OFFER</option>
    </select>
  </div>
  <button *ngIf="!previewOn" (click)="mobilePreview = !mobilePreview"
          type="button">{{ mobilePreview ? 'Web preview' : 'Mobile Preview' }}</button>
</div>


<div class="cols" *ngIf="displayForm" [ngClass]="{'forceRow': !mobilePreview}">
  <div *ngIf="!previewOn">
    <p>Form</p>
    <div [formGroup]="offerForm">
      <div *ngFor="let ctrl of offerFormControlMetaArray; let i = index" class="formCtrlRow">
        <label [for]="'offerForm' + i">{{ ctrl.formControlName }}</label>
        <input [formControlName]="ctrl.formControlName" [id]="'offerForm' + i" type="text"/>
      </div>
    </div>
    <p>Ctas</p>
    <div [formGroup]="ctaForm" [ngClass]="{cols: !mobilePreview}">
      <div *ngFor="let ctrl of offerCtaFormControlMetaArray; let i = index" class="formCtrlRow">
        <label [for]="'ctaForm' + i">{{ ctrl.formControlName }}</label>
        <app-ctas
          [ctaName]="'ctrl' + i"
          [ctaValue]="ctaForm.get(ctrl.formControlName).value ? ctaForm.get(ctrl.formControlName).value : {}"
          [formControlName]="ctrl.formControlName" [ctaProductInfo]="ctaProductInfo" [id]="'ctaForm' + i"></app-ctas>
      </div>
    </div>
    <p>Form valueeeeeeeeee {{ ctaForm.value | json }}</p>
  </div>
  <div [ngClass]="{ 'full-width': previewOn }">
    <app-offer
      *ngIf="!mobilePreview"
      [offerContent]="cmsData.data"
      [offerDefinition]="offerAdminDefinition"
      [updatedFieldName]="updatedFieldName"
    ></app-offer>
    <app-mobile-preview
      *ngIf="mobilePreview"
      [offerContent]="cmsData.data"
      [offerDefinition]="offerAdminDefinition"
      [updatedFieldName]="updatedFieldName"
    >
    </app-mobile-preview>
  </div>
</div>
