.emulator__item {
  position: relative;
  width: 375px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.emulator {
  text-align: center;
}
