/*
 .site__main,  .site__wrapper,  .site__container, .main__wrapper{
  display: flex;
}
 .site__container {
   flex-basis: 600px;
   margin: auto;
 }

.site__main {
  padding: 0 20px;
}
.site__banner {

}
.columns {
  display: flex;
}
*/
