
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none
}

html {
  width: 100%;
  height: 100%;
  //font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

a {
  background-color: transparent
}

.enable-hover a:hover {
  opacity: .7
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
  margin-top: -.3rem
}

h1 + h2, h1 + h3, h2 + h3 {
  margin-top: -.3rem
}

h1 {
  margin-top: 2rem;
  font-size: 2.6rem
}

h2 {
  margin-top: 1.8rem;
  font-size: 2.4rem
}

h3 {
  font-size: 2.2rem
}

h4 {
  font-size: 2rem
}

h5 {
  font-size: 1.8rem
}

h6 {
  font-size: 1.6rem
}

small {
  font-size: 75%
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

.app-root {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%
}
