
@font-face {
  font-family: dax-medium;
  src: url('http://localhost:4200/assets/font/dax-medium.woff') format('woff');
}

.highlight {
  display: inline-block;
  -webkit-animation: fade 5s forwards;
  animation: fade 5s forwards;
  -moz-animation: fade 5s forwards;
  -o-animation: fade 5s forwards;
}

@-webkit-keyframes fade {
  0% {background-color: rgba(238, 219, 73, 0)}
  50% {background-color: rgba(238, 219, 73, 1)}
  100% {background-color: rgba(238, 219, 73, 0)}
}

@-moz-keyframes fade{
  0% {background-color: rgba(238, 219, 73, 0)}
  50% {background-color: rgba(238, 219, 73, 1)}
  100% {background-color: rgba(238, 219, 73, 0)}
}

@keyframes fade {
  0% {background-color: rgba(238, 219, 73, 0)}
  50% {background-color: rgba(238, 219, 73, 1)}
  100% {background-color: rgba(238, 219, 73, 0)}
}
@-o-keyframes fade {
  0% {background-color: rgba(238, 219, 73, 0)}
  50% {background-color: rgba(238, 219, 73, 1)}
  100% {background-color: rgba(238, 219, 73, 0)}

}

