<div [formGroup]="ctasForm">
  <div class="form-control">
    <label [for]="ctaName + 'ctaLmeResponseCode'">Response Code</label>
    <select [name]="ctaName + 'ctaLmeResponseCode'" formControlName="ctaLmeResponseCode" id="ctaLmeResponseCode">
      <ng-container *ngFor="let responseCode of responseCodes">
        <option [value]="responseCode?.value">{{responseCode?.label}}</option>
      </ng-container>
    </select>
  </div>
  <div class="form-control" *ngIf="!hideCtaType">
    <label [for]="ctaName + 'ctaType'">Type</label>
    <select [name]="ctaName + 'ctaType'" formControlName="ctaType" id="ctaType">
      <ng-container *ngFor="let cta of ctaTypes">
        <option [value]="cta?.value">{{cta?.label}}</option>
      </ng-container>
    </select>
    <p *ngIf="formControlName ===  'apply now' && ctaType.value === 'sso' && !showSSOError" class="hint-text">Product
      id: {{ctaProductInfo?.ctaProductId}} <br /> Product type: {{ctaProductInfo?.ctaProductType}}</p>
    <p *ngIf="formControlName ===  'apply now' && ctaType.value === 'sso' && showSSOError" class="error-text">Invalid
      SSO details in template</p>
  </div>
  <div class="form-control" *ngIf="!hideCtaUrl">
    <label [for]="ctaName + 'ctaUrl'">Url</label>
    <input [name]="ctaName + 'ctaUrl'" type="text" formControlName="ctaUrl">
  </div>
</div>

<!-- <div>Form value: {{ctasForm.value | json}}</div> -->
<pre>{{ctasForm.valid}}</pre>
