<div [formGroup]="ctasForm">
  <div class="form-control">
    <label [for]="ctaName + 'ctaLmeResponseCode'">Response Code</label>
    <select [name]="ctaName + 'ctaLmeResponseCode'" formControlName="ctaLmeResponseCode" id="ctaLmeResponseCode">
      <ng-container *ngFor="let responseCode of responseCodes">
        <option [value]="responseCode?.value">{{responseCode?.label}}</option>
      </ng-container>
    </select>
  </div>
  <div class="form-control">
    <label [for]="ctaName + 'ctaAction'">CTA Action</label>
    <select [name]="ctaName + 'ctaAction'" formControlName="ctaAction" id="ctaAction">
      <ng-container *ngFor="let ctaAction of ctaActions">
        <option [value]="ctaAction?.value">{{ctaAction?.label}}</option>
      </ng-container>
    </select>
  </div>
  <div class="form-control">
    <label [for]="ctaName + 'ctaType'">Type</label>
    <select [name]="ctaName + 'ctaType'" formControlName="ctaType" id="ctaType">
      <ng-container *ngFor="let cta of ctaTypes">
        <option [value]="cta?.value">{{cta?.label}}</option>
      </ng-container>
    </select>
  </div>
  <div class="form-control">
    <label [for]="ctaName + 'ctaUrl'">Url</label>
    <input [name]="ctaName + 'ctaUrl'" type="text" formControlName="ctaUrl">
  </div>
</div>

<div>Form value: {{ctasForm.value | json}}</div>
